<div>
  <div>メモアプリ</div>
  <a href="/memos/new">追加</a>
</div>
<ul>
  <% @memos.each.with_index(1) do |memo, index| %>
    <li><a href="/memos/<%="#{index}"%>"><%== memo[:title] %></a></li>
  <% end %>
</ul>
