<div class="heading">
  <div class="heading-text">メモアプリ</div>
</div>
<div>
  <form class="form" method="post" action="/memos">
    <input class="memo-title-field" type="text" name="title" required="required">
    <textarea class="memo-body-field" name="body" required="required"></textarea>
    <input class="btn input-btn" type="submit" value="保存">
  </form>
</div>
