<div>
  <div>メモアプリ</div>
</div>
<div>
  <form method="post" action="/memos">
    <input type= "text" name="title">
    <textarea name="body"></textarea>
    <input type= "submit" value="保存">
  </form>
</div>
